.container{
    
    width: 50%;
    height: 70%;
    margin: auto;
    background-color: #dac197;
    box-shadow: 1px 2px rgba(0,0,0, .2);
    border-radius: 10px;
}
.subContainer{
    display: flex;
    justify-content: left;
}
.imagen{
    width: 37%;
    padding: 80px 0px 0px 100px;
}
.container h1{
    padding:  20px 0px 0px 0px;
    width: auto;
}

.data{
    padding: 90px 0px 10px 80px;
}
.container h5{
    width: auto;
    font-size: 20px;
    padding: 5px 0px 10px 0px;
    margin: 1px;
}

