

.form{
	width:500px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

.form label{
	width:152px;
	font-weight:bold;
    font-size: 22px;
	display:inline-block;
}

.form input{
	width:180px;
	padding:3px 10px;
    font-size:15px ;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form p{
    margin: 3px;
}

