

.form{
	width:500px;
	padding:16px;
	border-radius:10px;
	margin:10px auto;
	background-color:#b9e3f3;
}

.form label{
	width:152px;
	font-weight:bold;
    font-size: 22px;
	display:inline-block;
}

.form input{
	width:180px;
	padding:3px 10px;
    font-size:15px ;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 



.temporada{
	display: flex;
	flex-direction: row;
}

.temporada label{
	font-size: medium;
	font-weight: 500;
}
.temporada input{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.selectetCountries{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
	height: 10%;
}

.selectCountry{
	display: flex;
	flex-direction: column;
	width: 20%;
	
}

.selectCountry button{
	width: 25px;
	background-color: rgb(225, 8, 8);
	margin: auto;
}