.conteiner{
    margin: 15px 0px 0px 0px;
}
.conteiner label{
    margin:1rem 1rem 1rem 1rem;
    border-radius: 10px;
    border:none;
    background-color: #8dd9f5;
    color: black;
    font-size: large;
}