.conteiner{
    height: 100px;
    border-bottom: 0.5px solid rgb(58, 50, 40);
    background: url(C:\Users\Renzo\Desktop\Proyectos\PI-Contries-App\header.png);
    background-size: cover 
}

.lista{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.elemento{
    float: right;
    margin: 25px 0px 10px 10px;
}

.elemento button{
    display: block;
    background-color: #d4f6f6;
    text-align: center;
    padding: 14px 16px;
    border:0px solid black;
    text-decoration: none;
    border-radius: 5px;
}

.link{
    text-decoration: none;
    color: black;
    font-size: large;
}


.elemento button:hover{
    background-color: #c4f6f6;
}

